body {
    background-color: #FFF7ED;
    padding: 3rem;
    margin: 0;
    border-left: 10px solid;
    border-image: linear-gradient(to bottom, #FFA600 0%, #995200 100%) 1;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: #7B4000;
    font-size: 2rem;
    font-family: 'Arsenal', serif;
    font-weight: 700;
    margin: 1rem 0;
}

h2 {
    color: #4e2800;
    font-size: 1.5rem;
    font-family: 'Arsenal', serif;
    font-weight: 300;
    margin: 0.8rem 0;
}
h3 {
    color: #00000098;
    font-size: 1.1rem;
    font-family: 'Arsenal', serif;
    font-weight: 200;
    margin: 0.5rem 0;
}
strong {
    font-weight: bold;
}
p {
    color: #000000;
    font-size: 0.7rem;
    font-family: 'Literata', serif;
    margin: 1rem 0;
    text-align: justify;
}
a {
    color: #B86B00;
    font-weight: 300;
    font-size: 0.7rem;
    font-family: 'Literata', serif;
}

.timestamp {
    color: #00000098;
    font-size: 0.7rem;
    font-family: 'Literata', serif;
    margin: 0rem 0;
}

@media all and (min-width: 1000px) {
    body {
        padding: 80pt 180pt;
    }

    h1 {
        font-size: 3rem;
        margin: 1.3rem 0;
    }

    h2 {
        font-size: 2rem;
        margin: 1.2rem 0;
    }

    h3 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }
    
    p {
        font-size: 1.1rem;
        margin: 1.4rem 0;
    }

    a {
        font-size: 1.1rem;
    }

    .timestamp {
        font-size: 1.1rem;
    }
}